@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Use this app to track your plant placement and watering.</p>
    <p>Enter the name of your plant, the garden in which it is planted, the date it was planted and when it was last watered. Click 'plants' in the navigation
    bar to see all the plants in the database and see where they have been planted. Click the 'water' link to update the record when you have watered a plant. 
    If your plant unfortunately dies, click 'dig up' next to the plant record.</p>
</div>

