@model Plant.Models.Binding.AddPlantBindingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Plant Something</h1>

<h4>myPlant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePlanted" class="control-label"></label>
                <input asp-for="DatePlanted" class="form-control" required/>
                <span asp-validation-for="DatePlanted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLastWatered" class="control-label"></label>
                <input asp-for="DateLastWatered" class="form-control" required/>
                <span asp-validation-for="DateLastWatered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garden" class="control-label"></label>
                <input asp-for="Garden" class="form-control" required />
                <span asp-validation-for="Garden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Plant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Plant">Back to List</a>
</div>

@*This is optional*@ 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
